@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
body {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-family: "Merriweather", serif;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
}
